<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <style>
        .main{
            padding-top: 10px;
        }
    </style>

</head>
<body>
    <h1>Report of checkup for Heart disease </h1>
    <br>
    <div class="main">Smoking : {{Smoking}}<br></div>
    <div class="main">AlcoholDrinking : {{AlcoholDrinking}}<br></div>
    <div class="main">Stroke : {{Stroke}}<br></div>
    <div class="main">DiffWalking: {{DiffWalking}}<br></div>
    <div class="main">Diabetic :{{Diabetic}}<br></div>
    <div class="main">PhysicalActivity : {{PhysicalActivity}}<br></div>
    <div class="main">BMI : {{BMI}}<br></div>
    <div class="main">Sex :{{Sex}}<br></div>
    <div class="main">Asthma : {{Asthma}}<br></div>
    <div class="main">KidneyDisease : {{KidneyDisease}}<br></div>
    <div class="main">SkinCancer : {{SkinCancer}}<br></div>
    <div class="main">Race : {{Race}}<br></div>
    <div class="main">SleepTime : {{SleepTime}}<br></div>
    <div class="main">PhysicalHealth : {{PhysicalHealth}}<br></div>
    <div class="main">MentalHealth : {{MentalHealth}}<br></div>
    <div class="main">Age : {{Age}}<br></div>
    <h3>According to your report you {{out}}</h3>
</body>
</html>